body {
  background-color: #f5f7fb !important;
}

.navbar-inverse {
  background-color: #1e3a8a !important;
  border-color: #1e3a8a !important;
}

.navbar-inverse .navbar-brand {
  color: #fff !important;
  font-weight: bold;
}

.table > thead > tr > th {
  background-color: #2563eb !important;
  color: white !important;
}

.btn-primary {
  background-color: #2563eb !important;
  border-color: #2563eb !important;
}

.btn-danger {
  background-color: #dc2626 !important;
}
